<% include partials/_header.ejs %>
    <!-- If they are logged in -->
    <% if (email) {%> 
        <!-- Only show the URLs the User Created -->
        <% for(var keys in urls) { %>
             <% if (urls[keys].userID === user) { %>
                <div class="row">
                    <div class="col" style="padding-top: 10px;">
                        <form  method="POST" action="/urls/<%= keys %>/delete">
                            <b><a target="_blank" href="<%= urls[keys].longURL %>"><%= keys %></a>: </b><%= urls[keys].longURL %> 
                            <a class="btn btn-outline-primary" href="/urls/<%= keys %>">Edit</a>
                            <button type="submit" class="btn btn-primary">Delete</button>
                            <p style="font-size: 12px;">Date Created: <%= urls[keys].date %> </p>
                        </form>
                    </div>
                </div>
            <% } %>
        <% } %>
    <!-- If they're not logged in, prompt to login -->
    <% } else {%>
    <center>
        <h3> Welcome! Please <a href="/login">Login</a> or <a href="/register">Register</a> to begin shortening URLS.</h3>
        <br>
        <img src="http://bestanimations.com/Animals/Mammals/Cats/cats/cute-kitty-animated-gif-26.gif">
    </center>
    <% } %>
</body>
</html>

