<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
<% include partials/_header.ejs %>
    <!-- Add EJS code here -->
    <% if (email) {%>
            <% for(var keys in urls) { %>
                <% if (urls[keys].userID === username) { %>
                    <div class="row">
                        <div class="col" style="padding-top: 10px;">
                        <form  method="POST" action="/urls/<%= keys %>/delete">
                            <b><a target="_blank" href="<%= urls[keys].longURL %>"><%= keys %></a>: </b><%= urls[keys].longURL %> 
                            <a class="btn btn-outline-primary" href="/urls/<%= keys %>">Edit</a>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                        </div>
                    </div>
                    <% } %>
            <% } %>
        
    <% } else {%>
    <center><h3> Welcome! Please <a href="/login">Login</a> or <a href="/register">Register</a> to begin shortening URLS.</h3></center>
    <br>
    <center><img src="http://bestanimations.com/Animals/Mammals/Cats/cats/cute-kitty-animated-gif-26.gif"></center>
    <% } %>

</body>
</html>

